@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #1E1F24;
}

#rit-logo {
  position: absolute;
  top: 10px;
  right: 10px;
}

p {
  font-size: medium;
  font-weight: 400;
  color: white;
}

.Column {
  flex: 1;
  flex-direction: column;
  background-color: #37393F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border-radius: 5px;
  box-shadow: none;
}

.column-left {
  margin-right: 15px;
}

.column-right {
  margin-left: 15px;
}

.column-left:hover {
  margin: 15px;
  box-shadow: 3px 3px #6ED6D6, 6px 6px #81ecec;
}

.column-right:hover {
  margin: 15px;
  box-shadow: -3px 3px #6ED6D6, -6px 6px #81ecec;
}

.column-title {
  color: white
}

.visualization-box {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

button {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: #BEE7BB;
  font-family: 'Quicksand';
  font-weight: 600;
  border: none;
}

button:hover {
  cursor: pointer;
}

#info-button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #81ecec;
}

img {
  width: 40px;
}

#credits {
  position: absolute;
  bottom: 10px;
  border-radius: 6px;
  padding: 2px;
  background-color: #636E72;
  font-size: small;
  color: white;
}

#credits:hover {
  cursor: pointer;
}

#modal {
  background-color: #636E72;
}